.topbox{
    width: 90%;
    height: 10%;

}
a{
    padding: 30px;
    color: black;
    font-family: Arial,  sans-serif;
    font-weight: bolder;
    text-decoration: none;
    font-size: 15px;
    float:right;
    margin-top: 0% ;
    
}
img{
    width: 6%;
    margin-left: 5%;
    float :left;
    margin-left: 10%;
}


