.example-form mat-form-field{
    width: 60%;
    margin: auto;
  }
  .example-full-width {
    width: 100%;
  }
  
  .example-option-img {
    vertical-align: middle;
    margin-right: 8px;
  }
  
  .form{
    background-color: whitesmoke;
  }
  .ct{
    background-color: yellow;
    
  }
  h1{
    margin-left: 45%;
  }