h3{
    margin-left: 35%;
    text-align: center;
}
img{
    width:15%;
    margin-left: 20%;
}
h4{
    margin-left: 22%;
    margin-top: 0%;
}
p{
    margin-left: 18%;
    margin-top: -4%;
}
.botbox{
    float: left;
    width: 33%;
}
