.menu-bar{
    background-color: beige !important;
    color: violet ! important;
}

.title{
    font-size: 30px;
    font-weight: bolder;
}

ul{
    margin-left: 100px;
}
li {
    float: left;
    list-style-type: none;
    margin-left: 10px;
    margin-right: 20px;
}

a {
    color: black;
    size: 20px;
    text-decoration: none;
    cursor: pointer;

}

a:hover{
    color: blueviolet;
}

a:active {
    color: rgb(200, 231, 241);
}